/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

.center {
	margin: 5% auto 5% auto;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    font:12px arial;
    color: #222;
    text-align:center;
    padding:35px; }

form, p, span {
    margin:0;
    padding:0; }

input { font:12px arial; }

a {
    color:#0000FF;
    text-decoration:none; }

    a:hover { text-decoration:underline; }

#wrapper, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    background:#ece9d8;
    width:504px;
    border:3px solid #0021a5; 
    border-radius: 5px;
}

#loginform { padding-top:18px; }

    #loginform p { margin: 5px; }

#name{
    align-self: flex-start;
    font-weight: 700;
    color: white;
    text-decoration: none;
    font-size: 16px;
    line-height: 30px
}

i{
    padding-left: 20px;
}

#chatbox {
    text-align:left;
    margin:0 5px 25px 0;
    float: right;
    padding:10px;
    background:#fff;
    height:250px;
    width:85%;
    border-top: #22211e 1px solid;
    border-left: #22211e 1px solid;
    border-bottom: #eeebdc 1px solid;
    border-right: #eeebdc 1px solid;
    box-shadow: 2px 2px #faf9f6;
    overflow:auto; }

#usermsg {
    width:85%;
    margin:0 5px 25px 0;
    float: right;
    border-top: #22211e 1px solid;
    border-left: #22211e 1px solid;
    border-bottom: #eeebdc 1px solid;
    border-right: #eeebdc 1px solid;
    box-shadow: 2px 2px #faf9f6; 
}

#submit { width: 60px; }

.error { color: #ff0000; }

#menu{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 30px;
    background: #0054e8;
}

#fakeMenu{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px #bebbaf solid;
    margin-bottom: 5px;
}

#logo{
    position: relative;
    left: 2px;
    top: 2px;
}

.leftMenu p{
    display: inline;
    padding: 5px;
}

p span{
    text-decoration: underline;
}

.rightMenu{
    padding: 2px;
}

.menuButton{
    align-self: center;
    height: 24px;
    margin: 0;
    background: blue;
    border: 2px white solid;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    outline: none;
}

.menuButton:active{
    border: 2px #242424 solid;
}

#exit{
    background: #e76a57;
}

.welcome { float:left; }

.msgln { margin:0 0 2px 0; }
